.book-footer {
    display: none !important;
}

.book-menu-content {
    background-color: #f6f6f6 !important;
}

code {
    color: var(--color-link) !important;
    background-color: var(--gray-200) !important;
}